@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Pacifico&family=Roboto:wght@400;700&family=Vujahday+Script&display=swap');

* {
    font-family: Roboto;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px
}

button {
    background-color: black;
    color: white;
    height: 35px;
    font-size: 1em;
}